@import '../../index.scss';

.chat {
    &__title {
        margin-bottom: 25px;
        @media  (max-width: 768px) {
            margin-left: 15px;
        }
    }

    &__container {
        width: 415px;
        background-color: $background-secondary;
        display: flex;
        flex-direction: column;
        @media  (max-width: 768px) {
            width: auto;
        }
    }

    &__description {
        padding: 27px 25px;
        display: flex;
        background-color: $background-secondary;
        align-items: center;
        justify-content: space-between;
        border-bottom: $border;

        &-container {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    &__avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }

    &__user {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &-name {
            font-size: 16px;
            line-height: 17px;
        }

        &-about {
            font-size: 12px;
            line-height: 17px;
            color: $accent-primary;
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    &__message-list {
        height: 502px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 15px;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $accent-primary;
        }
    }

    &__message {
        padding: 10px;
        display: flex;
        gap: 20px;
        background-color: $background-secondary;

        &_type_owner {
            background-color: $background-main;
        }

        &-box {
            display: flex;
            flex-direction: column;
        }

        &-text {
            margin: 0;
            padding: 0;
            font-size: 13px;
            line-height: 22px;
            max-width: 285px;
        }

        &-date {
            color: $grey-primary;
            font-family: $font-date-text;
            font-size: 11px;
            line-height: 25px;
        }
    }

    &__panel {
        padding: 30px 15px 30px 25px;
        display: flex;
        background-color: $background-secondary;
        align-items: center;
        justify-content: space-between;
        border-top: $border;
    }

    &__input {
        padding: 14px 30px 16px 24px;
        min-width: 216px;
        border: $border;
        font-family: $font-input-placeholder;
        font-size: 15px;
    }

    &__submit-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: scale(1);
        transition: .3s transform ease-in;
    
        &:hover {
            transform: scale(1.1);
        }
    }
}