.chat-list {
    width: 879px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    &__divider {
        width: 2px;
        background-color: #EBE9E4;
    }
    @media  (max-width: 1024px) {
        width: auto;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}