@import '../../index.scss';

.reviews {
    width: 100%;
    background-color: $background-secondary;
    padding: 35px 30px;

    &__title {
        margin-bottom: 21px;
    }

    &__box {
        position: relative;
    }

    &__button {
        margin-top: 29px;
        padding: 10px 24px;
        color: $grey-secondary;
        font-size: 13px;
        line-height: 17px;
        font-weight: 600;
        background-color: transparent;
        border: 2px solid $accent-primary;
        cursor: pointer;
        transform: scale(1);
        transition: .3s transform ease-in;
    
        &:hover {
            transform: scale(1.05);
        }
    }
    

}

.swiper-slide {
    width: 300px !important;
    margin-right: 20px !important;
    
    .swiper-slide:last-of-type {
        margin-right: 0 !important;
    }
}

.swiper-pagination {
    margin: 0;
    padding: auto !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98px !important;
    right: 0px !important;
    bottom: 14px !important;
    left: auto !important;

    .swiper-pagination-bullet {
        margin: auto;
        width: 4px;
        height: 4px;
        background-color: $grey-secondary;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        width: 8px;
        height: 8px;
        background-color: $accent-primary;
    }
}